<div class="container">
  <div class="card-trip my-3">
    <%= cl_image_tag @cocktail.photo, crop: :fill %>
  <div class="card-trip-infos">
    <div>
      <h3><%= @cocktail.name %></h3>
      <p><%= @cocktail.description %></p>
    </div>
    <div class="dose-container">
      <div class="ingredients-header">
        <h2 class="my-3">Ingredients:</h2>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="far fa-edit"></i>
          </button>
          <div class="dropdown-menu">
            <div class="dose-form-container p-3">
              <%= simple_form_for([@cocktail, @dose]) do |f| %>
                <%= f.input :description, placeholder: '3 shots' %>
                <%= f.association :ingredient %>
                <%= f.submit 'Add a dose' %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="dose-list">
        <% @cocktail.doses.each do |dose| %>
          <p> <%= dose.description %> <%= dose.ingredient.name %> <%= link_to 'Delete', dose_path(dose), method: :delete %></p>
        <% end %>
      </div>
    </div>
  </div>
  </div>
</div>


