<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
      <div class="nav-item dropdown">
        <%= image_tag "logo.png", class: "navbar-logo dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdown">
          <%= link_to "Home", cocktails_path, class: "dropdown-item" %>
          <%= link_to "Create a cocktail", new_cocktail_path, class: "dropdown-item" %>
        </div>
      </div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <ul class="navbar-list">
      <li>
        <%= link_to new_cocktail_path do %>
        <i class="fas fa-plus text-secondary"></i>
        <% end %>
      </li>
      <li>
        <%= link_to root_path do %>
        <i class="fas fa-home text-secondary"></i>
        <% end %>
      </li>
    </ul>
    </div>
</div>
